/* ForgotPassword.css */
.container-forgot {
    max-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
.outer-forgot
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(176, 224, 230, 0.85);
}
  .form-title {
    text-align: center;
    font-size: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
  }

  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-button {
    width: 100%;
    margin-top: 0.5rem;
    height: 54px;
    background: #5F41E4;
    cursor: pointer;
    outline: none;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
    border-radius: 0.31rem;
    border: none;
    transition: 0.2s ease;
  }
  
  .forgot-password-button:hover {
    background: #4320df;
  }
  
  .back-to-login-text {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 500;
  }
  
  .back-to-login-text a {
    text-decoration: none;
    color: #5F41E4;
    font-weight: 500;
  }
  
  .back-to-login-text a:hover {
    text-decoration: underline;
  }
  